*.pyc

# ignore Vivado simulation and build directories
hdl_design/hdl_design.cache/*
hdl_design/hdl_design.hw/*
hdl_design/hdl_design.ip_user_files/*
hdl_design/hdl_design.sim/*

# ignore simulation directories
dve.log
simv.log
csrc/
dve.daidir/
dve
inter.fsdb
novas_dump.log
novas.conf
novas.rc
ucli.key
